body {
    background:#e9eaed;
}

.jumbotron {
    background-color:#ffffff;
    border: 1px solid #AAA;
    padding: 25px;
    margin-top: 2em;
    overflow: hidden;
    box-shadow: 10px 10px 30px #888888; 
}.header {
    background: #607D8B;
}.blue h1, h2, h3 {
	color: #2196F3;
}.headline {
	color: #FFFFFF;
	margin: 1em;
}

.footer {
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #ffffff;
    text-align: center;
    border-top: 1px solid #AAA;
}

.card {
    box-shadow: 10px 10px 30px #888888;
    border: 1px solid #AAA;
    height: 100%;
}

.center {
    padding-left: 15%;
    padding-right: 15%;

}

.card-header {
    background-color: rgb(143, 206, 255);
}

.qt0 {
    font-weight: bold;
}

.imgDecay {
    margin-left: 35px;
    border-radius: 8px;
    box-shadow: 7px 7px 15px #888888; 
    border: 1px solid #AAA;
}

.button {
    cursor: pointer;
}